.next
node_modules
tsconfig.tsbuildinfo
.DS_Store
cache
local-data
backend/__pycache__
backend/routers/__pycache__
matcher/__pycache__

.claude
.zoer

# local env files
.env*
!.env.example
.venv/
node/
node-v*.tar.xz
.ollama/
.cache/
local-data/uploads/
.next/
local-data/
